openapi: '3.0.4'
info:
  contact:
    name: 'hyperfocus'
  title: 'hyperfocus API'
  version: '1.0.0'
servers:
  - description: 'API'
    url: '/v1'

x-errors: &commonErrors
  '400':
    content:
      application/json:
        schema:
          $ref: '#/components/schemas/General'
    description: 'Bad Request'
  '401':
    content:
      application/json:
        schema:
          $ref: '#/components/schemas/General'
    description: 'Unauthorized'
  '403':
    content:
      application/json:
        schema:
          $ref: '#/components/schemas/General'
    description: 'Forbidden'
  '404':
    content:
      application/json:
        schema:
          $ref: '#/components/schemas/General'
    description: 'Not Found'
  '500':
    content:
      application/json:
        schema:
          $ref: '#/components/schemas/General'
    description: 'Internal Server Error'

paths:
  /healthz:
    get:
      summary: 'Health check'
      operationId: 'healthCheck'
      responses:
        '200':
          description: 'Service is healthy'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthResponse'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/General'
          description: 'Service is unhealthy'

  /search:
    post:
      summary: 'Search players'
      operationId: 'searchPlayers'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SearchRequest'
        required: true
      responses:
        <<: *commonErrors
        '200':
          description: 'Success'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchResponse'

components:
  securitySchemes:
    Permissions:
      bearerFormat: 'JWT'
      scheme: 'bearer'
      type: 'http'
  schemas:
    General:
      properties:
        error:
          type: boolean
        msg:
          type: string
        statusCode:
          type: 'integer'
          x-omitempty: true
      required:
        - error
        - msg
        - statusCode
      type: object

    HealthResponse:
      type: object
      properties:
        version:
          type: string
        buildDate:
          type: string
      required:
        - version
        - buildDate

    SearchRequest:
      type: object
      properties:
        query:
          type: string
      required:
        - query

    SearchResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Stream'
      required:
        - data

    Stream:
      type: object
      properties:
        name:
          type: string
        nicknames:
          type: array
          items:
            type: string
      required:
        - name
        - nicknames
